 <!-- form handling -->
 <form action="/api/lpg" method="POST" id="input_data">
    <div class="new_data">
        <div class="form-group">
            <label for="tanggal" class="text-light">Tanggal</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="tanggal" value="" placeholder="Contoh = TTTT-BB-HH">
        </div>
        <div class="form-group">
            <label for="kode" class="text-light">Kode</label>
            <input type="text" name="kode" value="" placeholder="Dua huruf terakhir plat nomor kendaraan">
        </div>
        <div class="form-group">
            <label for="nama" class="text-light">Nama Pangkalan</label>
            <input type="text" name="nama" value="" placeholder="Contoh = Siswoyo">
        </div>
        <div class="form-group">
            <label for="keterangan" class="text-light">Keterangan</label>
            <input type="text" name="keterangan" value="" placeholder="Keterangan">
        </div>
        <div class="form-group">
            <label for="Tabung" class="text-light">Jumlah Tabung</label>
            <input type="number" name="tabung_transfer" value="" placeholder="Cash-less">
            <input type="number" name="tabung_tunai" value="" placeholder="Tunai">
        </div>
        <div class="form-group">
            <label for="Pembayaran" class="text-light">Pembayaran</label>
            <input type="number" name="bayar_transfer" value="" placeholder="Cash-less">
            <input type="number" name="bayar_tunai" value="" placeholder="Tunai">

        <div class="form-group">
            <button type="submit" class="btn text-light update">Save</button>
        </div>

    </div>
</form>