#site-main {
    .container {
        height: 100%;

        form {
            .new_data {
                overflow: scroll;
            }
        }
    }
}

#root > .container #site-main > .container {
    overflow: scroll;
}
