@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

/*Syntax css untuk mengedit UI*/

:root{
    --dark: #1C6758;
    --light: #3D8361;
    --pop: #EEF2E6;
    --border: #dee2e6;
    --border-btn: #edf2f4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

.border-plain{
    border: 1px solid var(--border-btn);
}

.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark{
    color: var(--dark);
}

.inline{
    display: inline-block;
}

.text-light{
    color: var(--light);
}

.text-pop{
    color: var(--pop);
}

.align_right{
    float : right
}


.text-gradient{
    background: linear-gradient(to right, #3c835a, #134e30);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header nav{
    background-color: #EEF2E6;
    padding: 1em 0;
    width: 100%;
}

#site-main{
    margin-top: 6em;
    font-family: 'Barlow', sans-serif;
}

#site-main .container .box-nav > a{
    font-size: 1em;
    padding: .5em 1em;
}

#site-main .container form{
    margin: 2em 0;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.table td, .table th{
    padding: .75em;
    vertical-align: center;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td > a.btn{
    padding: .2em .2em;
    font-size: 1.1em;
    margin: 0 .2em;
}

.table tr:hover{
    background-color:#badca9 ;
}

.table tr:hover td > a{
    box-shadow: none;
}

.table .thead-dark th{
    color: #fff;
    background-color: var(--dark) ;
    border-color: #32383e;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #1C6758;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: #55b486;
    color: black;
}

.delete {
    cursor: pointer
}

@media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    table{
        border: 1px solid #000000
    }
    thead 

    tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
        border: 1px solid #000000;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: 1px solid #000000;
        position: relative;
    }

}

/*  add elpiji & update elpiji template */
.form-title{
    margin-top: 2em;
}

.form-title > h2{
    padding: .5em 0;
}

.new_data{
    max-width: 786px;
    margin: auto;
}

#update_data .form-group,
#input_data .form-group{
    margin: .4em 0;
}

#update_data .form-group input[type="text"],
#input_data .form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: 'Barlow', sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_data .form-group .radio,
#input_data .form-group .radio{
    margin: 1em 2em;
}

/* adding style to radio buttons */
.radio input[type='radio']{
    position: absolute;
    opacity: 0;
}

.radio input[type='radio'] + .radio-label:before{
    content: "";
    background: var(--border-btn);
    border-radius: 100%;
    border: 1px solid var(--border);
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0em;
    margin-right: .5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.radio input[type='radio']:checked + .radio-label:before{
    background-color: #41658A;
    box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type='radio']:focus + .radio-label:before{
    outline: none;
    border-color:#41658A;
}

.radio input[type='radio']:disabled + .radio-label:before{
    box-shadow: inset 0 0 0 4px #e9ecef;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

#update_data .form-group .btn,
#input_data .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color:#55b486; 
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}

#update_data .form-group .btn:hover,
#input_data .form-group .btn:hover{
    background-color: #1C6758;
    color: var(--border);
}
