#site-main {
    width: 100%;
    height: 100%;
    padding-left: 2em;


    > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    
        .page-illustration{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            margin: 16px auto;
            
            a {
                img {
                    display: block;
                    width: 256px;
                    height: auto;
                    margin: 16px auto;
                }
            }
    
            .app-title {
                display: block;
                padding: auto 4px;
                box-sizing: border-box;
                text-align: center;
                color: #001F0E;
                font-size: 1.25rem;
                font-weight: bold;
                
                
                width: 75%;
            }
        }
    
        hr {
            position: relative;
            display: block;
            width: 80px;
            height: 3px;
            background-color: #001F0E;
        }
    
        p {
            display: block;
            padding: auto 4px;
            box-sizing: border-box;
            text-align: center;
            color: #001F0E;
            font-size: 1.25rem;
            font-weight: bold;
            width: 100%;
            
        }
    }
}

#root > .container #site-main .container {
    justify-content: center;
}